<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table, th, td {
      border:1px solid black;
    }

</style>
<body>
    <h5 style="margin-left: auto; margin-right: auto;"><a th:href="@{/}">Add Data</a></h5>
    <table style="margin-left: auto; margin-right: auto; margin-top: 250px; width: 100%;">
        <tr>
          <th>Name</th>
          <th>Subject</th>
          <th>Score</th>
        </tr>
        <tr th:each="grade: ${grades}">
          <td th:text="${grade.name}"></td>
          <td th:text="${grade.subject}"></td>
          <td th:text="${grade.score}"></td>
          <td><a role="button" th:href="@{/(id = ${grade.id})}">Update</a></td>
        </tr>
    </table>
</body>
</html>